<!DOCTYPE html>
<html>

<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</head>

<body>

<div ng-app="" ng-controller="personController">

    First Name: <input type="text" ng-model="firstName"><br>
    Last Name: <input type="text" ng-model="lastName"><br>
    Day Rate: <input type="text" ng-model="rateDay"><br>
    Days worked<input type="text" ng-model="workedDays"><br>
    <br>
    Full Name: {{fullName()}}<br/>
    <p>Total Earned: <span ng-bind="rateDay * workedDays"></span></p>
    <p>Age: <span ng-bind="person.age"></span></p>
    <p>Pets: <span ng-bind="person.petNames"></span></p>
    <p>FirstPet: <span ng-bind="person.petNames[0]"></span></p>

    <ul>
      <li ng-repeat="x in person.petNames">
        {{ x }}
      </li>
    </ul>

    <ul>
      <li ng-repeat="x in person.cars">
        {{ x.type }}, {{ x.engineSizeCC }}CC
      </li>
    </ul>
</div>

<script src="personController.js"></script>

</body>
</html>