<!DOCTYPE html>
<html>

<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</head>

<body>

<div ng-app="" ng-controller="personController">

    First Name: <input type="text" ng-model="firstName"><br>
    Last Name: <input type="text" ng-model="lastName"><br>
    Day Rate: <input type="text" ng-model="rateDay"><br>
    Days worked<input type="text" ng-model="workedDays"><br>
    <br>
    Full Name: {{firstName + " " + lastName}}<br/>
    <p>Total Earned: <span ng-bind="rateDay * workedDays"></span></p>
    <p>Age: <span ng-bind="person.age"></span></p>
    <p>Pets: <span ng-bind="person.petNames"></span></p>
    <p>FirstPet: <span ng-bind="person.petNames[0]"></span></p>


</div>

<script>
function personController($scope) {
    $scope.firstName = "John";
    $scope.lastName = "Doe";
    $scope.rateDay = 350;
    $scope.workedDays = 5;

    $scope.person = {
        age: 30,
        petNames: ["moo", "oz"]
    };


}
</script>

</body>
</html>